body{
    background-color: rgb(105, 125, 163);
    
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1{
    color: red;
}

h1, h2{
    text-align: center;
}

p{
    color: cornsilk;

    font-size: 15 px; 

}

div h2{
    color: darkblue;
}